.project {
    border: 2px solid black;
}

.mock-image {
    height: 100px;
    width: 100px;
    border: 2px solid gray;
    background: darkslategray;
    display: inline-block;
}

.project-link {
    color: blue;
    text-decoration: underline;
}
