* {
    box-sizing: border-box;
}

body {
    text-align: center;
    color:black;
}

nav,
footer {
    background-color: silver;
    padding: 5px 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: right;
}

nav ul, 
nav li {
    list-style: none;
    display: inline-block;
}

section {
    min-height: 250px;
    padding: 10px 0;
    background-color: lightgray;
}

section:nth-child(even) {
    background-color: darkgray;
}